server:
  port: 8888
spring:
  application:
    name: gatewayserver
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:8090/realms/master/protocol/openid-connect/certs"
#      routes:
#        - id: r1
#          uri: lb://DEPARTMENT
#          predicates:
#            - Path= /api/departments/**
#        - id: r2
#          uri: lb://TEACHER
#          predicates:
#            - Path= /api/teachers/**
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted

eureka:
    client:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
        instance:
          prefer-ip-address: true
resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

